body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0c0c0c;
    color: white;
}

header {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url('assets/bg-green.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-size: 60px;
    color: #00ff85;
}

header p {
    font-size: 22px;
    opacity: 0.8;
}

.btn {
    padding: 14px 28px;
    background: #00ff85;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    display: inline-block;
    margin-top: 20px;
}

.btn-secondary {
    padding: 14px 28px;
    border: 2px solid #00ff85;
    color: #00ff85;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    margin-left: 10px;
}

.section {
    padding: 70px 0;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 40px;
}

.card {
    padding: 25px;
    background: #1a1a1a;
    border-left: 5px solid #00ff85;
    border-radius: 8px;
}
footer {
    padding: 30px 0;
    background: black;
    text-align: center;
}

.whatsapp {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #00ff85;
    color: black;
    padding: 14px 20px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 40px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: url('assets/bg.jpg') center/cover no-repeat;
    color: #00ff7f;
    text-align: left;
}
