body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: white;
}

.hero {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background: url('assets/img/bg.jpg') center/cover no-repeat;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
